# =========================
# FLUTTER / DART
# =========================
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# =========================
# GENERAL IDE
# =========================
.idea/
.vscode/
*.iml

# macOS / Linux junk
.DS_Store
*.swp
*.lock

# =========================
# ENV / SECRETS (VERY IMPORTANT FOR WEB3)
# =========================
.env
.env.*
*.pem
*.key
*.mnemonic
wallet.json

# =========================
# SOLIDITY / WEB3 (Remix / Hardhat safe)
# =========================
artifacts/
cache/
typechain/
coverage/
coverage.json

# if you later add hardhat / node
node_modules/
dist/

# =========================
# LOGS
# =========================
*.log